/************
* center form
*************/
main > article > h1 {
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 16px;
  width: 400px;
  padding-left: 14px;
}
main form {
  margin: 0 auto;
  width: 400px;
}

main form p {
  padding: 10px;
}

.lattitude input,
.longitude input {
  width: 40px;
}

.lattitude input:first-child,
.longitude input:first-child {
  width: 48px;
}
