/*******
* general
********/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffe0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.green {
  background-color: green;
}

/***********
* header
************/
header {
  padding-top: 16px;
  background-color: #f95441;
  height: 65px;
}

/***********
/* navigation
************/
header nav ul {
  position: absolute;
}

header nav ul li {
  list-style-type: none;
  display: inline-block;
  padding-right: 30px;
  vertical-align: middle;
  font-size: 24px;
}

header nav ul img {
  width: 40px;
}

/* primary navigation */
.first-nav img {
  margin-left: 24px;
}

/* user navigation */
.user-nav {
  right: 0;
  margin-right: 8px;
}

/* dropdown user navigation */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: -90px;
  width: 210px;
  top: calc(100% + 0.25rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown > a:hover + .dropdown-menu,
.dropdown > a + .dropdown-menu:hover {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu p {
  padding: 3px;
}

/***********
* main
************/
main {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 55vw;
  min-width: 800px;
}

main h1 {
  margin-bottom: 15px;
}

main p {
  line-height: 1.6;
}

/***********
* footer
************/
body > footer {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 97px;
  background-color: black;
  color: white;
}

body > footer > ul > li {
  display: inline-block;
  margin: 12px auto 0 auto;
  width: 30vw;
  vertical-align: middle;
  text-align: center;
}

/* contact list */
.contact-info-list {
  margin-top: -4px;
  list-style-type: none;
}

/*
  bug in contact list:
  when the horizontal view is verry small the content of
  the contact info list is moved downward and pushes the
  screen down so that an empty space underneath the footer
  appears.
  solution:
  with dynamic styles change paddig-left to a smaller size.
*/
.contact-info-list li {
  padding-left: 30%;
  text-align: left;
  font-size: 13px;
  /*overflow: hidden;
  overflow-x: scroll;*/
}

.contact-info-list li:first-child {
  margin-bottom: 4px;
  font-size: 16px;
}
