/*******
* general
********/

* {
  margin: 0;
}

body {
  background-color: #ffffe0;
}

p {
  padding: 3px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.green {
  background-color: green;
}

/***********
* header
************/
header {
  padding-top: 16px;
  background-color: #f95441;
  height: 65px;
}

/***********
/* navigation
************/
header nav ul li {
  list-style-type: none;
  display: inline-block;
  padding-right: 30px;
  vertical-align: middle;

  font-size: 24px;
}

li img {
  width: 40px;
}
