/*******
* general
********/

* {
  margin: 0;
}

body {
  background-color: #ffffe0;
}

p {
  padding: 3px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.green {
  background-color: green;
}

/***********
* header
************/
header {
  padding-top: 16px;
  background-color: #f95441;
  height: 65px;
}

/***********
/* navigation
************/
header nav ul li {
  list-style-type: none;
  display: inline-block;
  padding-right: 30px;
  vertical-align: middle;

  font-size: 24px;
}

li img {
  width: 40px;
}

.first-nav {
  position: absolute;
}

.user-nav {
  position: absolute;
  right: 0;
}

/* dropdown */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: -60px;
  width: 180px;
  top: calc(100% + 0.25rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown > a:hover + .dropdown-menu,
.dropdown > a + .dropdown-menu:hover {
  opacity: 1;
  transform: translateY(0);
}

/***********
* footer
************/
body > footer {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 97px;
  background-color: black;
  color: white;
}

body > footer > ul {
  margin: 0;
  padding: 0;
}

body > footer > ul > li {
  display: inline-block;
  margin: 0 auto;
  margin-top: 12px;
  padding: 0;
  width: 30%;
  vertical-align: middle;
}

/* contact list */
.contact-info-list {
  margin-top: -4px;
  list-style-type: none;
}

.contact-info-list li:first-child {
  margin-bottom: 6px;
}
